@import "var";

@mixin link_button($color) {
    color: $color;
    font-size: $_font_size;
    font-weight: 700;
    text-decoration: none;
    transition: $transition;

    &:hover {
        color: map-get($colors, _beige);
    }
}

@mixin btn {
    font-size: $_font_size;
    font-weight: 700;
    border-radius: 10px;
    background-color: map-get($colors, _beige);
    border: 2px solid black;
    color: map-get($colors, _dark);
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;

    &:hover {
        font-size: $_font_size;
        font-weight: 700;
        border-radius: 10px;
        background-color: map-get($colors, _dark);
        border: 2px solid map-get($colors, _beige);
        color: map-get($colors, _beige);
        transition: $transition;
    }
}

//------------------------

* {
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 25px;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: $_font_size;
    line-height: 1.6;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #171717;
}

header {
    background-color: #f2dcb1;
}

.header_content {
    display: flex;
    padding: 7px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
    width: 150px;
}

.nav {
    cursor: pointer;
}

.nav_link {
    @include link_button(map-get($colors, _black));
    letter-spacing: 3px;
    margin-left: 10px;
    text-transform: uppercase;
    position: relative;
    margin-right: 5px;
    z-index: 1;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    transition: ease-in-out 0.4s;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 7px 12px rgba(0, 0, 0, 0.1), 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.nav_link::after {
    position: absolute;
    content: "";
    background-color: map-get($colors, _black);
    border-radius: 5px;
    top: 0;
    right: 0;
    left: 0;
    height: 2px;
    transition: ease-in-out 0.4s;
    z-index: -1;
}

.nav_link:hover::after {
    height: 100%;
}

h1 {
    font-size: 40px;
    text-align: center;
    opacity: 0;
    transform: translate(0, 100%);
    transition: $transition;
}

h1._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

h2 {
    font-size: 30px;
    text-align: center;
}

.footer {
    color: map-get($colors, _black);
    background-color: map-get($colors, _beige);
    display: flex;
    justify-content: space-evenly;
}
.table__time {
    color: map-get($colors, _black);
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: $_font_size;
    font-style: bold;
    padding-top: 15px;
}

.text-about {
    display: flex;
    max-width: 800px;
    font-size: $_font_size;
    margin-bottom: 140px;
}

.text-about p:first-letter {
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    color: rgb(194, 37, 71);
}

/*AMINAMTED BOOK PART*/

.book__img img {
    width: 140%;
}

.book__img {
    float: right;
    will-change: transform;
    transform-origin: 0 100%;
    transform: rotate(-10deg);
    transition: $transition;
    margin-top: 50px;
}

.book__img:hover {
    transform: rotate(0);
}

/*---------------------------*/

/*slider*/

.slide-container {
    @extend .container;
    height: 675px;
    text-align: center;
    overflow: hidden;
    border-style: solid;
    border-color: map-get($colors, _black);
    border-radius: 16px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.7);
}

.slider-buttons {
    position: relative;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.btn {
    margin: 6px;
    color: map-get($colors, _white);
    width: 50px;
    height: 10px;
    border: 2px solid map-get($colors, _white);
    cursor: pointer;
    transition: $transition;

    &:hover {
        background: #fff;
    }
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slider-image {
    width: 20%;
    transition: 0.6s;
}

.slider-image img {
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -20%;
}

#r3:checked ~ .s1 {
    margin-left: -40%;
}

#r4:checked ~ .s1 {
    margin-left: -60%;
}

#r5:checked ~ .s1 {
    margin-left: -80%;
}

/*---------------------------*/

/*UP BUTTON*/

#back-top {
    position: fixed;
    bottom: 0px;
    padding: 0px;
    left: 60%;
    margin-left: 500px;
    z-index: 99;
}

#back-top a {
    width: 77px;
    height: 30px;
    background: rgba(0, 0, 0, 0.25);
    display: block;
    text-decoration: none;
    transition: $transition;
    text-align: center;
}

#back-top a:hover {
    height: 70px;
    background: #000000;
    transition: $transition;
    color: map-get($colors, _white);
}

/*---------------------------*/

.review {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.review .img {
    width: 125px;
    height: 125px;
    margin: 10px;
    transform: scale(0);
    transition: $transition;
}

.review._active .img {
    transform: scale(1);
}

.review .img img {
    width: 100%;
    border-radius: 10em;
    border-color: #000;
    border-style: solid;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.7);
}
.review .review_text {
    width: 100%;
    opacity: 0;
    transition: $transition;
}

.review._active .review_text {
    opacity: 1;
}

.review .review_text .name {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}

.reviews {
    display: block;
    margin: 0 auto;
}

#map_link {
    display: block;
    margin: 0 auto;
}

.about-content {
    display: flex;
    justify-content: space-evenly;
}
.aditional_info {
    margin: 0 auto;
    max-width: 496px;
    max-height: 624px;
    overflow: auto;
    padding: 5px 10px;
    border: 1px solid white;
    margin-left: 40px;
    margin-right: 40px;
}

dialog {
    border: none;
    border-radius: 10px;
    background: rgba(map-get($colors, _dark), 0.8);
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.8);
}

dialog::backdrop {
    background-color: rgba(black, 0.8);
}

#PopUp {
    @extend .container;
    max-width: 800px;
}

#show {
    @include btn;
}

#close {
    top: 0;
    right: 0;
    position: absolute;
    background-color: red;
    width: 20px;
    height: 20px;
    border: 1px solid map-get($colors, _dark);
    border-radius: 1em;
    &:focus {
        outline-style: none;
        outline-width: 0px;
        outline-color: none;
    }
}

//FORM--------------------

input {
    background-color: rgba(map-get($colors, _dark), 0.8);
    color: map-get($colors, _beige);
    border: 2px solid map-get($colors, _beige);
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    font-family: inherit;
    font-size: $_font_size;
}

textarea {
    width: 100%;
    color: map-get($colors, _beige);
    background-color: rgba(map-get($colors, _dark), 0.8);
    border: 2px solid map-get($colors, _beige);
    height: 225px;
    resize: none;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    font-family: inherit;
    font-size: $_font_size;
}

select {
    background-color: map-get($colors, _dark);
    border-radius: 4px;
    color: map-get($colors, _beige);
}

.comment {
    display: inline-block;
    margin-top: 10px;
    color: map-get($colors, _beige);
}

.submit {
    @include btn;
    margin-top: 10px;
    width: 100%;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    color: map-get($colors, _beige);
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: red;
}

.form-control.error textarea {
    border-color: red;
}

.form-control.success textarea {
    border-color: #2ecc71;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 50px;
    right: 10px;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: red;
    visibility: visible;
}

.form-control small {
    color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}
